body{
    background-color: #E0D8B0;
}

.navbar{
    background-color: #CE9461;
}
#title, .subtitle, .post-title{
    color: #FCFFE7;
}
#title{
    font-family: 'Courier New', Courier, monospace;
}

.post-title{
    font-size: 16px;
    font-style: italic;
}
.post{
    background-color: #DEA057;
    padding: 10px;
    border: 2px solid #000;
    margin: 10px;
}

.image-chocolate{
    margin-left: 500px;
    border-radius: 10%;
}

footer{
    padding-left: 10px;
}

.natureza{
    padding-top: 30px;
    padding-bottom: 30px;
    
}