*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --vermelho: #e50914;
    --preto: #141414;
}

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal{
    font-size: 18px;
    background: url('../images/house-of-cards.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filme-principal .container{
    color: white;
}
.filme-principal .sinopse{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    font-size: 60px;
    margin-top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.botao{
    background-color: rgb(0, 0, 0, .5);
    border: none;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.botao:hover{
    background-color: white;
    color: var(--preto);
    transition: .3s ease all;
}

.botao i{
    margin-right: 6px;
}